/******************************************************************************
project: "Stationery" extension for Thunderbird
filename: composer.css
author: Łukasz 'Arivald' Płomiński <arivald@interia.pl>
description:  CSS for composer, platform UNIX
******************************************************************************/

#stationery-content-tab {
  padding: 0px 5px 0px 5px;
}

#stationery-content-tab tab{
  padding: 1px 8px 1px 8px;
}

