/******************************************************************************
project: "Stationery" extension for Thunderbird
filename: options.css
author: Łukasz 'Arivald' Płomiński <arivald@interia.pl>
description:  CSS for messenger window, platform UNIX
******************************************************************************/

