/******************************************************************************
project: "Stationery" extension for Thunderbird
filename: options-tab.css
author: Łukasz 'Arivald' Płomiński <arivald@interia.pl>
description:  CSS for options tab, Windows 
******************************************************************************/



/* category selector */
/*
.category {
    
  -moz-appearance: none;
  background-color: transparent;
  color: ButtonText;
  min-height: 0;
  padding: 10px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}


.category[disabled] {
  border-top: 0;
  border-bottom: 0;
  height: 0;
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 1s, 0.8s;
}
*/

/* templates list */

.stationery-identity-box {
  -moz-border-bottom-colors: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid;
}


#stationery-templates-list {
  -moz-border-top-colors: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1);
  border-top: 2px solid;
}

.stationery-template-item {
  -moz-border-bottom-colors: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid;
  color: ButtonText;
}

.stationery-template-item[selected] {
  background-color: rgba(148, 172, 204, 0.39);
  color: ButtonText;
}




/* options page */ 


setting{
  border-top: 2px solid;
  -moz-border-top-colors: rgba(28, 31, 37, 0.1) rgba(255, 255, 255, 0.1);
}

 

/* other */

textbox {
  -moz-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: 2.5px;
  background-color: rgba(255, 255, 255, 0.2);
}

textbox[disabled="true"] {
  border-color: rgba(0, 0, 0, 0.22);
  background-color: transparent;
}
